<style>
    #content-right {
        position: relative;
    }
    #content-right h4 {
        position: absolute;
        top: 0px;
        right: 0px;
    }
    #content-left {
        position: relative;
    }
    #content-left h4 {
        position: absolute;
        top: 0px;
        left: 0px;
    }

</style>
<div class="container">
    <div class="row">
        <div id="content-left">
            <span>
                <h4>
                    <span>
                        <a style="color: black;" href="/" >Home</a> /
                        <a style="color: black;" href="/user-profile" >User Profile</a> / 
                        <a style="color: black;" href="/git-repo-list" >Git Repo Lists</a> /
                        <a style="color: black;" href="/git-repo-detail" >Git Repo Details</a> 
                    </span>
                </h4>
            </span>
        </div>
    </div>
</div>
<br/>
