{{>header}}
{{>flash}}
	<header id="fh5co-header" class="fh5co-cover js-fullheight" role="banner" style="background-image:url(/public/images/cover_bg_3.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t js-fullheight">
						<div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">
							<div class="profile-thumb" style="background: url(/public/images/Octocat.png);"></div>
							<h1><span>It's Github Scanner</span></h1>
							<h3><span> Git Hub Docs - Help for wherever you are on your GitHub journey. <b><u><i><a style="color:aliceblue" href="https://docs.github.com">https://docs.github.com</a></i></u></b></span></h3><br/>
                            <h3>
								<span>
									<a style="color: white;" href="/user-profile" >User Profile</a> / 
									<a style="color: white;" href="/git-repo-list" >Git Repo Lists</a> / 
									{{!-- <a style="color: white;" href="/git-repo-detail" >Git Repo Details</a>  --}}
								</span>
							</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

{{>footer}}